/notes
/venv
/debkdeenv
/fedenv
/kdeenv
/notes
notes.md
logid.cfg
user_settings.db
user_devices.db
logid_mine.cfg
__pycache__
/app_data
/app_data1
/app_data2
/app_data3
/app_data4
/app_data5
/app_data6
/app_data7
/app_data8
/app_data9
CTkScrollableDropdown/ctk_scrollable_dropdown_frame.py
CTkScrollableDropdown/ctk_scrollable_dropdown.py
CTkScrollableDropdown/__init__.py
CTkScrollableDropdown-main/README.md
CTkScrollableDropdown-main/LICENSE
CTkScrollableDropdown-main/example.py
CTkScrollableDropdown-main/CTkScrollableDropdown/ctk_scrollable_dropdown_frame.py
CTkScrollableDropdown-main/CTkScrollableDropdown/ctk_scrollable_dropdown.py
CTkScrollableDropdown-main/CTkScrollableDropdown/__init__.py
app_records.db
